version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/models:/app/models
      - ./backend/uploads:/app/uploads
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped

  frontend:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"
    # entrypoint: sh -c "npm install"
    # command: npm run dev -- --host 0.0.0.0
    environment:
      - VITE_API_URL=http://localhost:8000
      # - VITE_API_URL=http://backend:8000
    depends_on:
      - backend
    restart: unless-stopped